.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
}

.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
}

.Header a {
  color: white;
  font-weight: 700;
}

.HeaderGroup {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}

.Header button {
  background: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  transition: 0.4s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.Header button:hover {
  background: blue;
  color: blanchedalmond;
  box-shadow: 0 15px 35px rgba(0,0,0,.12);
  transform: translateY(-4px);
}